html {
    background-color: black;
    font-family: Helvetica, sans-serif;
    color: seashell;
    opacity: 0.9;
    margin: auto 10px;
    width: auto;
    font-size: 22px;
}

header {
    border-bottom: 1px solid seashell;
    height: 69px;
    display: flex;
    align-items: center;
}

.logo {
    width: 200px;
}

.logo img {
    height: 50px;
    width: auto;
    margin: 0 10px;
}

nav {
    margin-left: 55%;
    display: flex;
    flex-wrap: nowrap;
}

nav a {
    padding: 15px;
    text-decoration: underline;
    font-size: 22px;
    color: seashell;   
    flex-shrink: 1;
}

#mission {
    text-align: center;
    position: relative;
}
#mission-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 100%;
}
#tea-of-month {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
.tea-text {
    text-align: center;
}
.cozy img {
    flex-basis: 300px;
    height: 200px;
}
.cozy p {
    text-align: center;
}




#locations {
    position: relative;
    text-align: center;
}

.locations-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 26%;
}

.location {
    border: 1px solid black;
    background-color: black;
    padding: 10px;
    margin: auto 10px;
    height: 200px;
    width: 200px;
    justify-content: center;
}

footer {
    text-align: center;
    position: relative;
}

.copyright{
    float: left;
}

* {
    box-sizing: border-box;
}